
body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}
.header{
  border: red solid 1px;
}

.container {
  display: flex;
  height: 100%; 
}

/* 왼쪽 */
.left {
  width: 50%;
  background-color: #ffffff;
  padding: 20px;
  overflow-y: auto;       /*<---y방향 스크롤*/
  box-sizing: border-box;
}

/* 오른쪽 영역 */
.right {
  width: 50%; 
  background-color: #ffffff;
  padding: 20px;
  overflow-y: auto;
  box-sizing: border-box;
  border-left: 1px solid #ccc;
}


.right {
  margin-bottom: 20px;
  padding: 10px;
  background: #f9f9f9;
  border: 1px solid #ddd;
}
