<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.board.dto.BoardDto" alias="BoardDto"/>
        <!-- 필요하면 추가로 Dto 등록 -->
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC" />
            <dataSource type="POOLED">
                <property name="driver" value="oracle.jdbc.OracleDriver" />
                <property name="url" value="jdbc:oracle:thin:@localhost:1521:orcl" />
                <property name="username" value="MULTI" />
                <property name="password" value="MULTI" />
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="db/B_mapper.xml"/>
        <mapper resource="db/comment-mapper.xml"/>
        <!-- 필요하면 추가 -->
    </mappers>
</configuration>
